@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.contact-text {
  color:white;
  font-family: 'Muli', sans-serif;
  margin-bottom:10px;
}
.contact-form {
    background-color:white;
    min-height:410px;
    width:80%;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.box_to_hide{
    opacity:0;
}
.media.block-6 {
    width: 100% !important;
}
.form-group{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.surveyDiv{
  width: 60%;
  margin-left: 4%;
}
.custom-control-label{
  margin-left: -53%;
}
.custom-control-input:checked ~ .custom-control-label::before{
      border-color: #2e9e5b;
    background-color: #2e9e5b;
}
.input {
  outline:none;
  border: none;
  width:100%;
  text-align: left;
  border-bottom:3px solid #2e9e5b;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  font-weight:bold;
  background:none;
  height:50px;
  padding-top:20px;
  font-size:15px;
  margin-top:15px;  
  max-width: 80%;
  transition: all 0.6s;
}
.loginForm .input{
  text-align: center;
  width: 50%;
}
.loginForm .singup-button{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
  margin-bottom: 20px;
}
.signup{
  color: #fff !important

}
textarea.input{
  min-height: 150px;
}
.input:focus {
  border-bottom:3px solid #000;  
  transition: all 0.4s;
}
.singup-button {
  background-color:#2e9e5b;
  font-family: 'Montserrat', sans-serif;
  width:30%;
  padding:10px;
  border:2px solid #2e9e5b;
  font-weight: bold;
  color:white;
  margin-top:25px;
  cursor:pointer; 
  transition: all 0.6s;
  display: block;
  margin-left: 10%;
}
.singup-button:hover {
  background-color:#000;
  border:2px solid #000;
  padding:10px;
  box-shadow:0.1px 0.1px 0.1px 1px #000; 
  transition: all 0.4s;
}


::placeholder { 
    color:black;
    opacity: 1;
}