<style>
    #ftco-navbar {
        
    }
</style>

<section class="ftco-section ftco-project bg-light" data-section="projects">
    <div class="container-fluid px-md-5">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">NEOXAM</span>
                <h2 class="mb-4">Login Page</h2>
                <p>Please select your section to log in</p>
                <a href="#home">Go back home</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 testimonial">
                <div class="row ">
                    <div class="col-md-2 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated box_to_hide" style="opacity:0;" id="box_to_hide">
                        <div class="media block-6 services text-center d-block" style="opacity:0;">


                        </div>
                    </div>
                    
                        <div class="col-md-4 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated" data-href="#1">
                            <div class="media block-6 services text-center d-block">
                                <div class="icon"><span class="flaticon-layers"></span></div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Espace Employee</h3>
                                    @Html.ActionLink("Link to login employee", "LoginMember")
                                </div>
                            </div>
                        </div>
                    
                    
                        <div class="col-md-4 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated" data-href="#2">
                            <div class="media block-6 services text-center d-block">
                                <div class="icon"><span class="flaticon-layers"></span></div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Espace Candidat</h3>
                                    @Html.ActionLink("Link to login Candidat", "LoginCandidat")
                                    
                                </div>
                            </div>
                        </div>
                        
                </div>

            </div>

        </div>
    </div>
</section>
