
<section class="ftco-section ftco-services ftco-no-pt">
    <div class="container">
        <div class="row services-section">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services text-center d-block">
                    <div class="icon"><span class="flaticon-layers"></span></div>
                    <div class="media-body">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services text-center d-block">
                    <div class="icon"><span class="flaticon-compass-symbol"></span></div>
                    <div class="media-body">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services text-center d-block">
                    <div class="icon"><span class="flaticon-layers"></span></div>
                    <div class="media-body">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Candidate Login" class="btn btn-default" />
    </div>
</div>



<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Employee Login" class="btn btn-default" />
    </div>
</div>







<script>

    $('.nav-link').css("display", "none");

</script>



